modelsim/work/*
modelsim/mini_core/work/*
modelsim/mini_core/*
modelsim/transcript
target/*
*.swp
!modelsim/work/README
!modelsim/mini_core/work/README
!target/README.md
!target/mini_core/README.md
!target/mini_core/README.md
!target/mini_core/gcc_gen_files/README.md
