*.swp
.vscode/*
target/*
transcript

FPGA/*
!FPGA/big_core/de10_lite_big_core_top.sdc
!FPGA/big_core/de10_lite_big_core_top.sv
!FPGA/big_core/sv/*
!FPGA/big_core/mif/*
!FPGA/big_core/de10_lite_big_core.qpf
!FPGA/big_core/de10_lite_big_core.qsf
